<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">

  <title>Movie Directory</title>
</head>

<body>

<div class="container">

  <div class="row">
    <div class="col col-11">

  <h1>Welcome <span sec:authentication="principal.username"> User</span></h1>
    </div>
    <div class="column">
      <button type="button" class="btn btn-outline-primary" sec:authorize="isAuthenticated()"><a th:href="@{/logout}">Logout</a></button>
    </div>
  </div>

  <hr>


  <h3>Movie Directory</h3>


  <hr>

  <!-- Add a button -->
  <a th:href="@{/movies/showFormForAdd}" sec:authorize="hasAnyRole('ROLE_CRITIC','ROLE_CREW')"
     class="btn btn-primary btn-sm mb-3">
    Add Movie
  </a>
  <h2></h2>

  <table class="table table-bordered table-striped">
    <thead class="thead-dark">
    <tr>
      <th>Name</th>
      <th>Language</th>
      <th>Actor</th>
      <th>Director</th>
      <th>Genres</th>
      <th>Rating</th>
      <th>Reviews</th>
      <th>Action</th>
    </tr>
    </thead>

    <tbody>
    <tr th:each="tempMovie : ${movies}">

      <td th:text="${tempMovie.name}" />
      <td th:text="${tempMovie.language}" />
      <td th:text="${tempMovie.actor}" />
      <td th:text="${tempMovie.director}" />
      <td th:text="${tempMovie.genres}" />
      <td th:text="${tempMovie.rating}" />
      <td>
        <a th:href="@{/movies/reviews(movieId=${tempMovie.id})}" class="btn btn-primary btn-sm">Reviews</a>
      </td>
      <td>
        <a th:href="@{/movies/showFormForUpdate(movieId=${tempMovie.id})}" sec:authorize="hasAnyRole('ROLE_CRITIC','ROLE_CREW')"
           class="btn btn-info btn-sm">
          Update
        </a>
        <a th:href="@{/movies/delete(movieId=${tempMovie.id})}" sec:authorize="hasAnyRole('ROLE_CREW')"
           class="btn btn-danger btn-sm"
           onclick="if(!(confirm('Are you sure you want to delete this Movie?'))) return false">
          Delete
        </a>
      </td>
    </tr>
    </tbody>
  </table>

  <a th:href="@{/movies/list}">Refresh Movies List</a>

</div>

</body>
</html>



